BOOKSTORE_DB_USER = your_api_user
BOOKSTORE_DB_PASSWORD = api_user_password
BOOKSTORE_DB_HOST = your_bookstore_db_host
BOOKSTORE_DB_PORT = your_bookstore_db_port
BOOKSTORE_DB_NAME = bookstore_db

COFFEE_SHOP_DB_USER = your_api_user
COFFEE_SHOP_DB_PASSWORD = api_user_password
COFFEE_SHOP_DB_HOST = your_coffee_shop_db_host
COFFEE_SHOP_DB_PORT = your_coffee_shop_db_port
COFFEE_SHOP_DB_NAME = coffee_shop_db